/* == RESET =================================== */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* == GRID =================================== */

.grid {
    margin-left: -10px;
    margin-right: -10px;
}

.grid:before,
.grid:after {
    content: " ";
    display: table;
}

.grid:after {
    clear: both;
}

.grid .grid__cell {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.grid--2cols .grid__cell {
    width: 50%;
}

.grid--2cols-left .grid__cell,
.grid--2cols-right .grid__cell {
    width: 40%;
}

.grid--2cols-left .grid__cell:nth-child(odd),
.grid--2cols-right .grid__cell:nth-child(even) {
    width: 60%;
}

.grid--3cols .grid__cell {
    width: 33.333333333%;
}

.grid--4cols .grid__cell {
    width: 25%;
}

/* == CONTENT =================================== */

body {
    border: 20px solid #f3f3f3;
    padding: 40px 60px 120px;
    color: #656565;
}

.site-container {
    margin: 0 auto;
    max-width: 960px;
}

h1, h2, h3 {
    color: #454545;
    font-weight: normal;
}

h1, h2 {
    font-weight: bold;
}

h1 em, h2 em {
    color: #656565;
    font-size: 16px;
}

/* == MODULE =================================== */

.module {
    background-color: #f3f3f3;
    padding: 20px;
}

.grid .grid__cell:nth-child(even) .module {
    background-color: #e3e3e3;
}